@import 'src/theme/borders';
@import 'src/theme/index';
@import 'src/theme/fontWeights';
@import 'src/theme/fontSizes';
@import 'src/theme/lineHeights';
@import 'src/theme/indents';
@import 'src/theme/colors';
@import 'src/theme/reuseClasses';

.logWrap {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  .error {
    color: $red;
  }
  .login {
    display: flex;
    width: 100%;
    max-width: $loginFormMaxWidth;
    flex-direction: column;
    img {
      width: $twiiterLogoWidth;
      height: $twiiterLogoHeight;
    }
    h2 {
      font-weight: $fontWeightXL;
      font-size: $fontSizeXXXL;
      line-height: $lineHeightL;
    }
    a {
      display: flex;
      justify-content: flex-end;
      font-size: $fontSizeM;
      font-weight: $fontWeightM;
      line-height: $lineHeightS;
    }
  }
}
