@import 'src/theme/borders';
@import 'src/theme/index';
@import 'src/theme/fontWeights';
@import 'src/theme/fontSizes';
@import 'src/theme/lineHeights';
@import 'src/theme/indents';
@import 'src/theme/colors';
@import 'src/theme/reuseClasses';
@import 'src/theme/transitions';
@import 'src/theme/breakPoints';

$buttonsHeight: 55px;

.sidebar {
  @media (max-width: $ultraSmallBreakPoint) {
    margin-left: $indentXXXL;
  }
  display: flex;
  flex-direction: column;
  max-width: $navSideBarMaxWidth;
  max-height: $navSideBarMaxHeight;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  @media (max-width: $largeBreakPoint) {
    width: max-content;
    justify-content: center;
    align-items: center;
  }
  button {
    max-height: $buttonsHeight;
    transition: $transitionS;
    &:hover {
      background-color: $lightGray;
    }
  }
  .userContainer {
    display: flex;
    align-items: center;
    margin-bottom: $indentXXL;
    @media (max-width: $largeBreakPoint) {
      width: min-content;
    }
    img {
      @media (max-width: $largeBreakPoint) {
        margin-right: 0;
      }
      width: calc($profilePhotoSize / 2.5);
      height: calc($profilePhotoSize / 2.5);
      border-radius: $borderRadiusXL;
      margin-right: $indentXXL;
    }
    p {
      @media (max-width: $largeBreakPoint) {
        display: none;
      }
      margin: 0;
      font-family: 'Roboto';
      font-size: $fontSizeXS;
      font-weight: $fontWeightM;
    }
  }
  .logo {
    margin-top: $indentXXL;
    margin-bottom: $indentXXXL;
    width: $twiiterLogoWidth;
    height: $twiiterLogoHeight;
  }
  .nav {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin-bottom: $indentXXL;
    gap: $indentXXL;
    color: inherit;

    @media (max-width: $largeBreakPoint) {
      width: min-content;
    li {
      list-style: none;
      a {
        display: flex;
        align-items: center;
        gap: $indentL;
        color: inherit;
        svg {
          path {
            stroke: currentColor;
        color: $black;
        span {
          @media (max-width: $largeBreakPoint) {
            display: none;
          }
        }
      }
    }
  }
}
.active {
  svg {
    path {
      stroke-width: $activeLinkStroke;
    }
  }
}
