@import 'src/theme/borders';
@import 'src/theme/index';
@import 'src/theme/fontWeights';
@import 'src/theme/fontSizes';
@import 'src/theme/lineHeights';
@import 'src/theme/indents';
@import 'src/theme/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $indentL;
  h2 {
    font-family: 'Roboto Serif';
    font-weight: $fontWeightM;
    font-size: $fontSizeXL;
  }
}
