@import 'src/theme/borders';
@import 'src/theme/index';
@import 'src/theme/fontWeights';
@import 'src/theme/fontSizes';
@import 'src/theme/lineHeights';
@import 'src/theme/indents';
@import 'src/theme/colors';
@import 'src/theme/positions';
@import 'src/theme/zIndexes';

.popupWrapper {
  position: fixed;
  top: $posS;
  left: $posS;
  width: 100%;
  height: 100%;
  z-index: $zIndexM;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
}
.topPanel {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  padding: 0 $indentL;
  align-items: center;
  border-bottom: $borderSizeS solid $black;
}

.popupContainer {
  width: $popupWidth;
  background-color: $darkerWhite;
  border-radius: $borderRadiusS $borderRadiusXS;

  .mainContainer {
    padding: $indentM;
    margin-top: $indentL;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: $scrollWidth;
    }

    &::-webkit-scrollbar-thumb {
      background: $lightBlue;
      border-radius: $borderRadiusS;
      border: $borderSizeS solid $darkerWhite;
    }
  }

  h3 {
    font-size: $fontSizeXXXL;
    margin: 0;
  }
  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: $closeButtonSize;
    height: $closeButtonSize;
    background-color: transparent;
    position: relative;
    border: none;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: $posM;
      left: $posM;
      width: $closeStickWidth;
      height: $closeButtonSize;
      transform-origin: center center;
      background-color: $black;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
