$borderSize-1: 1px;
$borderSize-2: 8px;

$borderColor-1: #e4eaed;
$borderColor-2: #00000033;
$borderColor-3: #d8d8d8;
$borderColor-4: #514b82;

$borderRadius-1: 6px;
$borderRadius-2: 27px;
$borderRadius-3: 30px;
$borderRadius-4: 50px;
$borderRadius-5: 50%;
