$linkColor: #5656fb;
$blackText: #000;
$whiteText: #fff;
$placeHolderColor: #00000099;

$buttonSignUpHoverColor: #eaeafa;

$lightBlue: #1da1f2;
$lightGray: #b3b8bb;
$darkerWhite: #f7f9f9;
$blue: #514b82;
$red: #ff0000;

$lightIceBlue: #eff3f4;
$dark: #00000033;

$lightBorderColor: #e4eaed;
$darkBorderColor: #00000033;
