$imgSignUpBgMaxWidth: 1121px;
$imgSignUpMaxHeight: 90vh;

$buttonSignUpMaxWidth: 403px;
$buttonSignUpHeight: 62px;

$registrationMaxWidth: 670px;

$googleIconSize: 25px;
$pSignUpMaxWidth: 375px;

$loginFormMaxWidth: 450px;

$loaderSmallWidth: 15px;
$loaderMediumWidth: 50px;
$loaderLargeWidth: 80px;

$loginInputHeight: 70px;
$loginButtonHeight: 60px;

$twiiterLogoWidth: 50px;
$twiiterLogoHeight: 41px;

$dropdownListMaxHeight: 120px;
$dropdownMaxWidth: 310px;

$profileMaxWidth: 910px;
$profileImgMaxHeight: 300px;
$profilePhotoSize: 120px;
$profileAvatarBlockHeight: 80px;

$baseOpacity: 0.6;

$tweetImageMaxHeight: 450px;

$tweetOptionsWidth: 150px;
$tweetOptionsMaxHeight: 130px;
$tweetHeader: 25%;

$scrollWidth: 10px;

$popupWidth: 50%;
$popupHight: 70%;
$popupContentHeight: 82%;

$closeButtonSize: 30px;
$closeStickWidth: 5px;

$getImageSizes: 24px;

$navSideBarMaxWidth: 230px;
$navSideBarMaxHeight: 900px;

$searchMaxWidth: 370px;

$miniTweetMaxHeight: 150px;

$lightBlur: 15px;

$miniTweetLineClamp: 3;
$miniProfileTextMaxWidth: 150px;

$switchWidth: 53px;
$switchHeight: 25px;
$sliderBeforeSize: 20px;
$sliderTranslateValue: 29px;

$followButtonMinWidth: 120px;
$profileImgTransform: -30%;
