$imgSignUpBgMaxWidth: 1121px;
$imgSignUpMaxHeight: 90vh;

$buttonSignUpMaxWidth: 403px;
$buttonSignUpHeight: 62px;

$registrationMaxWidth: 670px;

$googleIconSize: 25px;
$pSignUpMaxWidth: 375px;

$loginFormMaxWidth: 450px;

$loaderWidth: 50px;

$loginInputHeight: 70px;
$loginButtonHeight: 60px;

$twiiterLogoWidth: 50px;
$twiiterLogoHeight: 41px;

$dropdownListMaxHeight: 120px;
$dropdownMaxWidth: 310px;
