@import 'src/theme/borders';
@import 'src/theme/index';
@import 'src/theme/fontWeights';
@import 'src/theme/fontSizes';
@import 'src/theme/lineHeights';
@import 'src/theme/indents';
@import 'src/theme/colors';
@import 'src/theme/reuseClasses';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  button {
    border-radius: $borderRadiusS;
    margin-bottom: 0;
    &:disabled {
      background-color: $red;
      cursor: not-allowed;
    }
  }
  input[type='file'] {
    display: none;
  }
  .error {
    font-family: 'Roboto';
    font-size: $fontSizeM;
    color: $red;
  }
  label {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: $indentM;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: $fontSizeL;
    font-weight: $fontWeightXS;
    margin-bottom: $indentM;
    img {
      width: $getImageSizes;
      height: $getImageSizes;
    }
  }
}
