@import 'src/theme';

$imgBgMaxWidth: 1121px;
$imgMaxHeight: 90vh;
$signUpGap: 41px;

$buttonSignUpBorderSize: 1px;
$buttonSignUpBorderColor: #e4eaed;
$buttonSignUpBorderRadius: 30px;
$buttonSignUpMaxWidth: 403px;
$buttonSignUpHeight: 62px;
$buttonSignUpFontWeight: 600;
$buttonSignUpFontSize: 20px;
$buttonSignUpLineHeight: 24px;
$buttonSignUpGap: 10px;
$buttonSignUpMargin: 21px;
$buttonSignUpHoverColor: #eaeafa;
$buttonSignUpTransition: 0.2s;

$textColor: #000;

$googleIconSize: 25px;

$pMaxWidth: 375px;
$pFontSize: 14px;
$pLineHeight: 20px;
$pMarginBot: 21px;
$textFontWeight: 400px;

$spanFontSize: 16px;

$linkColor: #5656fb;
$linksTransition: 0.3s;
$linksGap: 19px;
$linkFontSize: 13px;
$linkFontWeight: 400;

.signupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @media (max-width: $largeBreakPoint) {
    justify-content: space-evenly;
  }
  .links {
    display: flex;
    justify-content: center;
    gap: $linksGap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    @media (max-width: $largeBreakPoint) {
      align-items: flex-end;
      height: auto;
    }
  }
  a {
    color: $textColor;
    font-size: $linkFontSize;
    font-weight: $linkFontWeight;
    transition: $linksTransition;
    &:hover {
      color: $linkColor;
    }
  }
}
.signup {
  display: flex;
  gap: $signUpGap;
  color: $textColor;
  justify-content: center;

  .imgBg {
    max-width: $imgBgMaxWidth;
    height: 100%;
    max-height: $imgMaxHeight;
    @media (max-width: $largeBreakPoint) {
      display: none;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: $largeBreakPoint) {
      align-items: center;
    }
    h1 {
      font-weight: $h1FontWeight;
      font-size: $h1FontSize;
      line-height: $h1LineHeight;
      margin-top: $h1MarginTop;
      margin-bottom: $h1MarginBot;
    }
    h2 {
      font-weight: $h2FontWeight;
      font-size: $h2FontSize;
      line-height: $h2LineHeight;
      margin-top: 0;
    }
    a {
      width: 100%;
      max-width: $buttonSignUpMaxWidth;
    }
    button {
      height: $buttonSignUpHeight;
      max-width: $buttonSignUpMaxWidth;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: $buttonSignUpBorderSize solid $buttonSignUpBorderColor;
      border-radius: $buttonSignUpBorderRadius;
      font-weight: $buttonSignUpFontWeight;
      font-size: $buttonSignUpFontSize;
      line-height: $buttonSignUpLineHeight;
      gap: $buttonSignUpGap;
      cursor: pointer;
      margin-bottom: $buttonSignUpMargin;
      transition: $buttonSignUpTransition;
      &:hover {
        background-color: $buttonSignUpHoverColor;
      }

      img {
        width: $googleIconSize;
        height: $googleIconSize;
      }
    }
    p {
      max-width: $pMaxWidth;
      width: 100%;
      font-size: $pFontSize;
      line-height: $pLineHeight;
      margin-bottom: $pMarginBot;
      font-weight: $textFontWeight;
      a {
        font-size: $pFontSize;
        line-height: $pLineHeight;
        margin-bottom: $pMarginBot;
        font-weight: $textFontWeight;
        color: $linkColor;
      }
    }
    span {
      font-weight: $textFontWeight;
      font-size: $spanFontSize;
      a {
        font-size: $spanFontSize;
        font-weight: $textFontWeight;
        color: $linkColor;
      }
    }
  }
}
