$largeBreakPoint: 1350px;

$h1FontWeight: 900;
$h1FontSize: 84px;
$h1LineHeight: 98px;
$h1MarginTop: 57px;
$h1MarginBot: 46px;

$h2FontWeight: 900;
$h2FontSize: 42px;
$h2LineHeight: 49px;

$twiiterLogoWidth: 50px;
$twiiterLogoHeight: 41px;

$loginFormMaxWidth: 450px;

#root {
  font-family: 'Roboto';
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
a {
  text-decoration: none;
}
